<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <div [routerLink]="['']" class="nav-item nav-link">Home</div>
        <div [routerLink]="['view-task']" class="nav-item nav-link">View Task</div>
      </div>
    </div>
  </nav>
</div>
